---
- name: Setup after new install
  hosts: proxmoxmain
  gather_facts: true
  become: true

  roles:
    #- laptop_lid_disable
    - add_user_to_proxmox

  tasks:
    - name: Restart after everything is done
      reboot:
        msg: "Rebooting machine in 5 seconds"
      changed_when: false